.console {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3px 3em;
}

.input,
.display,
.highlighted {
  padding: 0.5em;
  position: relative;
  border: none;
}

.content {
  overflow-y: auto;
  white-space: pre-wrap;
}

.input > div {
  height: 100%;
  width: 100%;
}

.highlighted::before {
  content: "\203a";
  color: var(--accent);
  font-weight: bold;
  position: absolute;
  left: -1em;
  top: 0;
}

.highlighted:not(:last-child),
.display:not(:last-child) {
  border-bottom: solid var(--foreground) 1px;
}

.display div:not(.expand) {
  cursor: auto;
}

.display .item,
.display .expand {
  display: flex;
}

.display .expand {
  cursor: pointer;
}

.display .object > div:not(.expand) {
  margin-left: 1em;
}

.display .array > div:not(.expand) {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.key,
.value {
  user-select: all;
}

.key:focus,
.value:focus {
  animation: select 100ms step-end forwards;
}

@keyframes select {
  to {
    -webkit-user-select: text;
    user-select: text;
  }
}

.display .colon,
.display .class {
  padding-right: 1em;
}

.display .string {
  color: #e1d672;
}

.display .number,
.display .boolean {
  color: #a97df7;
}

.display .key {
  color: #97cc2c;
}

.display .function {
  color: #c95bfc;
}

.display .undefined {
  font-style: italic;
  color: #666;
}

.display .error {
  color: #ff6225;
}
