@import "theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--selection);
}

body {
  font: 12px / normal "Monacso", "Menlo", "Ubuntu Mono", "Consolas",
    "source-code-pro", monospace;
  color: var(--foreground);
  background: var(--background);
  overflow: hidden;
  scroll-behavior: smooth;
}

#main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-areas: "editor resize console";
  grid-template-columns: 3fr 3px 2fr;
}

.bar {
  background: var(--foreground);
}

.bar:active {
  background: var(--accent);
}
